<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.zverev.jarvismic">
    <application
        android:label="Jarvis Mic Bridge"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MicService" android:exported="true" />
    </application>
</manifest>
